@{
    ViewData["Title"] = "Privacy Policy";
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">back</a>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
